h1{
  font-family: Tahoma;
  text-align: left;
}

nav{
  font-family: Tahoma;
  background: #dcdcdc;
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  list-style-type: none;
}
ul{
  border: 1px solid #cecfd5;
  border-radius: 6px;
}





