h1{
  font-family: Tahoma;
  text-align: left;
}

nav{
  font-family: Tahoma;
  background: #dcdcdc;}
  
  ul {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  list-style-type: none;}

a:link {
 text-decoration: none; 
 }
a:visited {
  text-decoration: none; 
}

a:hover{
  text-decoration: none; }

a:active {
  text-decoration: none; }
  





